* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.sedans {
    background-color: hsl(31, 77%, 52%);
    padding: 3rem;
}
.suvs {
    background-color: hsl(184, 100%, 22%);
    padding: 3rem;
}
.luxury {
    background-color: hsl(179, 100%, 13%);
    padding: 3rem;
}
.container {
    height: auto;
    max-width: 20.625rem;
    border-radius: 0.6rem;
    overflow: hidden;
    margin: 1rem;
}
main {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    flex-wrap: wrap;
}
h1 {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
    font-size: 2.4rem;
    font-weight: 700;
    padding: 1.2rem 0;
}
p {
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 0.9375rem;
    font-weight: 400;
    padding: 1.2rem 0;
    line-height: 2;
}
button {
    padding: 1rem 2rem;
    border: transparent;
    border-radius: 2rem;
    cursor: pointer;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bolder;
    font-size: 0.9rem;
}
.sedans button {
    color: hsl(31, 77%, 52%);
    background-color: hsl(0, 0%, 95%);
    border: 0.125rem solid hsl(0, 0%, 95%);
}
.suvs button {
    color: hsl(184, 100%, 22%);
    background-color:hsl(0, 0%, 95%);
    border: 0.125rem solid hsl(0, 0%, 95%);
}
.luxury button {
    color: hsl(179, 100%, 13%);
    background-color:hsl(0,0%, 95%);
    border: 0.125rem solid hsl(0, 0%, 95%);
}
.sedans button:hover {
    background-color: hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
    transition: all 0.5s ease;
}
.suvs button:hover {
    background-color: hsl(184, 100%, 22%);
    color:hsl(0, 0%, 95%);
    transition: all 0.5s ease;
}
.luxury button:hover {
    background-color: hsl(179, 100%, 13%);
    color:hsl(0, 0%, 95%);
    transition: all 0.5s ease;
}

@media all and (min-width: 900px) {
    .container {
        display: flex;
        flex-wrap: nowrap;
        height: 500px;
        max-width: 55.9375rem;
    }
    .sedans, .suvs, .luxury {
        padding: 2rem 2.5rem;
    }
    p {
        line-height: 1.7;
    }
    button {
        margin-top: 4.5rem;
    }
}
    